fastapi
uvicorn
numpy
pandas
matplotlib
scikit-learn
sqlalchemy
ollama
seaborn
shap
imbalanced-learn
xgboost
joblib
pytest
openpyxl
chromadb
cryptography>=3.1
neo4j
pypdf
pdfminer.six
python-dotenv
tqdm